<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todoister - profile</title>
		<!-- BOOTSTRAP STYLES-->
		<link href="assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FONTAWESOME STYLES-->
		<link href="assets/css/font-awesome.css" rel="stylesheet" />
		<!-- MORRIS CHART STYLES-->
		<link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
		<!-- CUSTOM STYLES-->
		<link href="assets/css/custom.css" rel="stylesheet" />
		<!-- GOOGLE FONTS-->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="wrapper">
			<%- include('../partials/topbar.ejs'); %>
			<!-- /. NAV TOP  -->
			<%- include('../partials/navbar.ejs'); %>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div id="page-inner">
					<div class="row">
						<div class="col-md-12">
							<!-- Form Elements -->
							<div class="panel panel-default">
								<div class="panel-heading">Profile</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6">
											<!-- <h3>Update your profile</h3> -->
											<form role="form">
												<div class="form-group">
													<label>Name</label>
													<input
														type="text"
														class="form-control"
														id="name"
														name="name"
														value="<%= item.name %>"
													/>
												</div>
												<div class="form-group">
													<label>Email</label>
													<input
														type="email"
														class="form-control"
														id="email"
														name="email"
														value="<%= item.email %>"
														disabled
													/>
												</div>
												<div class="form-group">
													<label>File input</label>
													<input type="file" />
												</div>
												<div class="form-group">
													<label>Bio</label>
													<textarea
														name="bio"
														id="bio"
														class="form-control"
														cols="2"
														rows="2"
													>
													<%= item.bio %>
													</textarea>
												</div>
												<input type="hidden" id="userId" value="<%= item._id %>" />
												<button type="button" id="update-profile" onclick="updateProfile()">
													Update
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- End Form Elements -->
						</div>
					</div>
				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
		<!-- JQUERY SCRIPTS -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		<!-- BOOTSTRAP SCRIPTS -->
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="assets/js/jquery.metisMenu.js"></script>
		<!-- MORRIS CHART SCRIPTS -->
		<script src="assets/js/morris/raphael-2.1.0.min.js"></script>
		<script src="assets/js/morris/morris.js"></script>
		<!-- CUSTOM SCRIPTS -->
		<script src="assets/js/custom.js"></script>
		<script>
			$(document).ready(function () {
				$('#update-profile').on('click', function () {
					// var data = {
					// 	modelName: 'users',
					// 	_id: $('#userId').val(),
					// 	email: $('#email').val(),
					// 	bio: $('#bio').val(),
					// };

					// $.ajax({
					// 	type: 'PUT',
					// 	url: 'http://localhost:44444/update',
					// 	data: JSON.stringify(data),
					// 	contentType: 'application/json; charset=utf-8',
					// 	success: function (res) {
					// 		console.log(res);
					// 	},
					// 	errorf: function (err) {
					// 		console.log(err);
					// 	},
					// 	statusCode: {
					// 		400: function (e) {
					// 			console.log(e);
					// 		},
					// 	},
					// });
					console.log('hellow rod.d');
				});
			});

			function updateProfile() {
				var data = {
					modelName: 'users',
					_id: jQuery('#userId').val(),
					name: jQuery('#name').val(),
					email: jQuery('#email').val(),
					bio: jQuery('#bio').val(),
				};

				jQuery.ajax({
					type: 'PUT',
					url: 'http://localhost:44444/settings/update',
					data: JSON.stringify(data),
					contentType: 'application/json; charset=utf-8',
					success: function (res) {
						console.log(res);
					},
					error: function (err) {
						console.log(err);
					},
					statusCode: {
						400: function (e) {
							console.log(e);
						},
					},
				});
			}
		</script>
	</body>
</html>
